.form-group {
    padding-left: 10%;
    padding-top: 20px;
    background-color: #F5F5F5;
}

.logo {
    font-weight: bold;
    font-size: 30px !important;
    color: #4169E1 !important;
    text-decoration: none !important;
    margin-right: 10px !important;
}

.logo:hover {
    color: darkblue !important;
}

.searchBox {
     width: 50%;
     margin-bottom: 20px;
}
.button {
    width: 150px;
    height: 38px;
    background-color: #4169E1;
    color: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.button:hover {
    background-color: darkblue;
}

.title {
    font-size: 25px;
    margin-left: 10px;
    font-family: "Arial Black", Gadget, sans-serif;
}

.score {
    margin-left: 10px;
    font-style: italic;
}
.artist {
    margin-left: 10px;
    font-family: "Arial Black", Gadget, sans-serif;
    text-decoration: underline;
}

.lyrics {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    color: #404040;
}

.error {
    text-align: center;
}
.wrapper {
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #f8f8f8;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 5px 10px #999999;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-left: 15px solid #4169E1;
}

.wrapper:hover {
    border-left: 15px solid darkblue;
    box-shadow: 4px 5px 10px #555;
    background-color: white;
}

.lyrics:hover {
    color: black;
}

footer {
    margin-top: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4169E1;
    color: white;
    text-align: right;
}

.credit {
    font-style: italic;
    margin-right: 20px;
    font-family: "Times New Roman", Times, serif;
}

.footerLogo {
    font-size: 30px;
    font-weight: bold;
    text-align: right !important;
    margin-right: 20px;
}
